body{
    background-color: rgb(27, 27, 27);
    color: rgb(0, 145, 255);
}
h1{
    color: rgb(241, 85, 13);
}

h2{
    color:blue
    text-align: justify;
}
section{
    background: rgb(12, 11, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
